/* Figma Styles of your File */
:root {
  /* Colors */
  /* --fuschia-100: #ef5da8; */

  /* Fonts */
  /* --header-1-font-family: WorkSans-Bold, sans-serif;
  --header-1-font-size: 34px;
  --header-1-line-height: normal;
  --header-1-font-weight: 700;
  --header-1-font-style: normal;
  --header-2-font-family: WorkSans-Bold, sans-serif;
  --header-2-font-size: 20px;
  --header-2-line-height: normal;
  --header-2-font-weight: 700;
  --header-2-font-style: normal;
  --body-font-family: WorkSans-Regular, sans-serif;
  --body-font-size: 13px;
  --body-line-height: normal;
  --body-font-weight: 400;
  --body-font-style: normal; */

  /* Effects */
}
/* Figma Color Variables of your File */
